# used to distinguish log files for multiple accounts, optional

ACCOUNT_NAME=acc1

# EdgeX Account Credentials (REQUIRED for API access)
# Find these in your EdgeX account under "API Management"
EDGEX_ACCOUNT_ID=your_account_id_here
EDGEX_STARK_PRIVATE_KEY=your_stark_private_key_here

# Backpack Account Credentials (REQUIRED for API access)
# Find these in your Backpack account under "Portfolio" -> "Settings" -> "API Keys"
BACKPACK_PUBLIC_KEY=
BACKPACK_SECRET_KEY=

# Paradex Configuration 
# user icon -> "Wallet" -> "Ethereum Address" and "Copy Paradex Private key"
PARADEX_L1_ADDRESS=
PARADEX_L2_ADDRESS=
PARADEX_L2_PRIVATE_KEY=
PARADEX_ENVIRONMENT=prod # or testnet

# GRVT Configuration
# Get these from your GRVT account settings
GRVT_TRADING_ACCOUNT_ID=your_trading_account_id_here
GRVT_PRIVATE_KEY=your_private_key_here
GRVT_API_KEY=your_api_key_here
GRVT_ENVIRONMENT=prod # or testnet/staging/dev 

# Aster Configuration

ASTER_API_KEY=
ASTER_SECRET_KEY=

# Lighter Configuration
API_KEY_PRIVATE_KEY=
# public 
LIGHTER_ACCOUNT_INDEX=213803
LIGHTER_API_KEY_INDEX=2

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Logging
LOG_TO_CONSOLE=true
LOG_TO_FILE=true
LOG_FILE=trading_log.csv

TIMEZONE=Asia/Shanghai

# EdgeX API Endpoints
EDGEX_BASE_URL=https://pro.edgex.exchange
EDGEX_WS_URL=wss://quote.edgex.exchange

DATABASE_URL=postgresql://user:pw@localhost:5432/
CREDENTIAL_ENCRYPTION_KEY="m0BPCd_Rm..."